.itinerary-toggle {
    cursor: pointer;
}

.itinerary-toggle:hover {
    background-color: aliceblue;
}

@media only screen and (min-width: 850px) {
    .trip-cards {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    
    .trip-card {
        display: flex;
        justify-content: center;
        flex-basis: 20%;
        margin: 10px;
    }
}

.no-img {
    margin-top: 10px;
}

.edit-btn {
    margin-left: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.new-entry-btn {
    display: flex;
    justify-content: center;
}

.img-container {
    height: auto;
    width: 17em;
}

.overlay-img {
    width: auto;
    height: 10em;
}

.btm-btns {
    display: flex;
    justify-content: space-around;
}

.btm-date {
    display: flex;
    justify-content: space-around;
}

.trip-card-body {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
}

.btm-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid red;
}

.hero-image {
    height: 32em;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3); 
    background-image:url('https://s.inspirockcdn.com/partners/visittheusa-home.jpg');
}
