.itinerary-toggle {
    cursor: pointer;
}

.itinerary-toggle:hover {
    background-color: #0074d907;
}

.trip-details-btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.itinerary-btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.itinerary-container {
    padding: 10px;
}

.itinerary-btn-container div {
    align-self: center;
}

@media only screen and (min-width: 850px) {
    .trip-cards {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    
    .trip-card {
        display: flex;
        justify-content: center;
        flex-basis: 20%;
        margin: 10px;
    }
}

.no-img {
    margin-top: 10px;
}

.edit-btn {
    margin-left: 10px;
}

.new-entry-btn {
    display: flex;
    justify-content: center;
}

.img-container {
    height: auto;
    width: 17em;
    transition: transform .2s;
}

.img-container:hover {
    transform: scale(1.01);
    filter: blur(0.666px);
}

.overlay-img {
    width: auto;
    height: 10em;
}

.btm-btns {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
}

.profile-pic-info {
    display: flex;
    margin-top: 1em;
}

.trip-card-body {
    display: flex;
    flex-direction: column;
}

.btm-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
}

.hero-image {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3); 
    background-image:url('https://s.inspirockcdn.com/partners/visittheusa-home.jpg');
}

.img-bkgrnd {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
}

.circular--landscape {
    position: relative;
    width: 3vw;
    height: 3vw;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 2.5px;
    margin-right: 6px;
}

.card-creator-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-link {
    padding: 17px 17px;
    text-align: center;
}

.nav-link.active {
    color: rgb(0, 122, 112);
}

@media only screen and (min-width: 991px) {
    .logout {
        position: absolute;
        right: 10px;
        justify-content: flex-end;
    }
}

.search-bar {
    border: 1px solid gray;
    border-radius: 3.5px;
}

.trip-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.effect-shadow {
    transition: transform 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
}

.effect-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}

.trip-detail-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 10px;
}

.trip-detail-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 2em 0;
    padding: 20px 40px;
    width: 70%;
}

.icon-btn {
    transition: transform .4s ease-in-out;
    margin-left: 5px;
    color: #0074D9;
}

.icon-btn:hover {
    transform: rotate(25deg) scale(1.2);
}

.trip-details-btns {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.button-group-icons {
    margin: 10px 0;
}

/* Itinerary Styling */

.trip-itinerary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test1 {
    width: 40em;
}

.itin-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itin-card-container {
    margin-top: 2em;
    width: 500px;
}

.itin-card h2 {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 50em;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* PROFILE STYLING */

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    width: 25em;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.profile-img-div {
    margin-top: 10px;
    position: relative;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 50%;
    transition: transform .2s;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
}

.profile-img-div:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
    transform: scale(1.01);
}

.profile-img-big {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trip-history {
    text-align: center;
}

/* PROFILE STYLING */

.form {
    border: 1px solid black;
    border-radius: 5px;
    width: 35%;
    padding: 40px;
}

.form-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trip-form {
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    padding: 40px;
}

.nav-bar {
    width: 18em;
    height: 100vh;
    position: fixed;
    background-color: black;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-linkin {
    display: flex;
    align-items: center;
    height: 5em;
    text-decoration: none;
    color: red;
}

.link-text {
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}