* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4em;
}

.login-box {
    text-align: center;
    margin-top: 10em;
    background: white;
    padding: 50px;
    border-radius: 5px;
}