* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    text-align: center;
    margin-top: 30px;
    background: white;
    border: 1px solid black;
    padding: 50px;
    border-radius: 5px;
}